
body {
  font-family: Cera Pro, sans-serif;
  margin: 0;
  background-color: #fff4eb;
}


header {
  background-color: #ffcc00;
  color: black;
  padding: 0.5rem 0;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


.magazine-container {
  max-width: 800px;
  margin: 20px auto;
}

.magazine {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
}

.magazine-item {
  margin-right: 30px;
}

.magazine-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.magazine-item img {
  width: 100%;
  height: auto;
}

.magazine-item figcaption {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}


.bg-peach {
  background-color: #fff4eb;
}


.btn-purple {
  background-color: purple;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}


.bg-dark-blue {
  background-color: #201D48;
}

.text-white {
  color: white;
}


footer {
  margin: 0;
}
